

/*Padrão de importação: "m" é o apelido do arquivo. Para usar, faz assim: @include m.flex;*/
 @use '../sass/_mixins.scss' as m;
 @use '../sass/variaveis' as v;

.navSidebar{ /* Engloba Titulo e Container*/
    @include m.flex;
    border-radius: v.$border-radius-lg;
    background: v.$gradient-cabecalho;
    border: solid 1px v.$color-border;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 10px;
    

    .tituloPagina{
        font-size: 3em;
        color: v.$color-text-primary;
    }

    .containerSecundarioNav{ /* Está dentro de Container e engloba toogle e spanContainer*/
        display: flex;
        flex-direction: column;
        align-items: end;



        .spanContainer{ /* engloba h3 e p, com quantidade de Pokémons registrados*/
            @include m.mp10; //margin e paddim 10px
            border-radius: v.$border-radius-md;
            background: v.$gradient-captura;
            border: solid 1px v.$color-border;
            width: 200px;
            

            p{
                color: v.$color-text-secondary;
            }
        }
    }
}


        
    

    


