

/*Padrão de importação: "m" é o apelido do arquivo. Para usar, faz assim: @include m.flex;*/
 @use '../sass/_mixins.scss' as m;

.navSidebar{ /* Engloba Titulo e Container*/
    grid-area: nav;
    @include m.flex;
    @include m.radius; // border-radius 10px
    flex-wrap: wrap;
    width: 100%;
    border: solid 5px blue;
    gap: 3em;
    padding: 10px;
    background-color: #ffff;
    
    

    .tituloPagina{
        font-size: 3em;
    }

    .containerSecundarioNav{ /* Está dentro de Container e engloba toogle e spanContainer*/
        display: flex;
        flex-direction: column;
        align-items: end;
        
        gap: 1em;
    }

    .spanContainer{ /* Está dentro de containerSecundarioNav e engloba h3 e p, com quantidade de Pokémons registrados*/
        @include m.mp10; //margin e paddim 10px
        @include m.radius; // border-radius 10px
        width: 200px;
        background-color: #EDE9E7;
    }
}

